.filter-section {
  background: linear-gradient(120deg, #395d7f, #0c3153);
  padding-top: 7rem;
  padding-bottom: 8rem;
}

.filter-title {
  color: white;
}

.filter-select,
.filter-input {
  background-color: white;
  color: #395d7f;
  border: none;
  min-width: 100%;
  padding: 0.9rem!important;
}

.filter-label {
  color: white!important;
  font-weight: 500;
}

.custom-filter-icon-btn {
  background-color: #fcc71b;
  border: none;
  padding: 10px 14px;
  border-radius: 0.8rem;
  transition: background-color 0.3s ease;
}

.custom-filter-icon-btn:hover {
  background-color: #e0a800;
  cursor: pointer;
}

.custom-filter-icon-btn .filter-search-icon {
  color: #395d7f;
}
