/* FOOTER */
.bg-footer {
    background-color: #3a5f81;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    padding: 10px;
}


.footer-logo {
    margin-bottom: 2.8rem;
    margin-top: 1.2rem;
}

.footer-divider {
    width: 100%;
    margin: 3rem auto;
    border-top: 0.1rem solid white;
    opacity: 1;
}

.footer-container a {
    font-weight: 250;
    font-size: 1.1rem;
}

.footer-useful-links {
    padding-bottom: 1.5rem;
}

.footer-links-wrap {
    max-width: 35rem;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 2.8rem;

}